<br>
<p><h3>Contact </h3>
Sampath Perumal, Ph.D. <br>
Post-doc Research Associate <br>
Agriculture and Agri-Food Canada <br>
Saskatoon, SK S7N 0X2 <br>
<br>
email: sampath.perumal@canada.ca <br>
<br>
# open to new poistions

Looking for an opportunity in plant genomics field to make a real difference and working on challenging problems that matters.

<!--
Stanford University <br>
CCSR Room 3220 <br>
259 Campus Drive <br>
Stanford, CA 94305 <br>
</p>
-->

<!--
<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
-->
